footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	color: #999999;

	z-index: -1;
}

.totop, #toTop {
	z-index: -1;
}

.uk-navbar {
	z-index: 1000 !important;
}
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	width: 100%;
	margin: 0 auto -42px; /* the bottom margin is the negative value of the footer's height */
	z-index: 2 !important;
	position: relative;
	margin-bottom: 350px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
	background-color: #FFF;

}


.uk-search:before {
	content: "";
}

.searchContent span{
    background-color:#FF9;
}


.headerContent, .headerContent h1, .headerContent h2 {

	color: #fff;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.uk-overlay-panel figcaption > div > .uk-subheading h4 {
	color: #000 !important;

}

section {
  padding: 55px 0; 
}

#body {
	padding: 0 0;
}

blockquote {
  }
  blockquote p {
    font-size: 1.1rem;
    color: #999; }
  blockquote cite {
    display: block;
    text-align: right;
    color: #666;
    font-size: 1.2rem; }

blockquote {
  position: relative; }

blockquote blockquote {
  position: static; }

blockquote > blockquote > blockquote {
  margin: 0; }
  blockquote > blockquote > blockquote p {
    padding: 15px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #666; }
    blockquote > blockquote > blockquote p:first-child:before {
      position: absolute;
      top: 2px;
      color: #fff;
      font-family: FontAwesome;
      content: 'ïª';
      left: 10px; }
    blockquote > blockquote > blockquote p:first-child:after {
      position: absolute;
      top: 2px;
      color: #fff;
      left: 2rem;
      font-weight: bold;
      content: 'Info'; }
  blockquote > blockquote > blockquote > p {
    margin-left: -61px;
    border-top: 30px solid #F0B37E;
    background: #FFF2DB; }
  blockquote > blockquote > blockquote > blockquote > p {
    margin-left: -84px;
    border-top: 30px solid rgba(217, 83, 79, 0.8);
    background: #FAE2E2; }
    blockquote > blockquote > blockquote > blockquote > p:first-child:after {
      content: 'Warning'; }
  blockquote > blockquote > blockquote > blockquote > blockquote > p {
    margin-left: -108px;
    border-top: 30px solid #6AB0DE;
    background: #E7F2FA; }
    blockquote > blockquote > blockquote > blockquote > blockquote > p:first-child:after {
      content: 'Note'; }
  blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > p {
    margin-left: -132px;
    border-top: 30px solid rgba(92, 184, 92, 0.8);
    background: #E6F9E6; }
    blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > p:first-child:after {
      content: 'Tip'; }

code,
kbd,
pre,
samp {
  font-family: "Inconsolata", monospace; }

code {
  background: #f9f2f4;
  color: #9c1d3d;
  padding: .2rem .4rem;
  border-radius: 3px; }

pre {
  padding: 1rem;
  margin: 2rem 0;
  background: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 2px;
  line-height: 1.15;
  font-size: 1rem; }
  pre code {
    color: #237794;
    background: inherit;
    font-size: 1rem; }

#tag-filter > .uk-active > * {
  background: #8cc14c;
}
